@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

header, aside, footer {
    padding: 10px
}

header {
    background-color: #3ab397;
    font-size: 2rem;
}

aside {
    background-color: #95d5cf;
}

main {
    margin: 1em 0;
}

article {
    border: solid 1px #247e9d;
    text-align: center;
}

footer {
    background-color: #247e9d;
}

.container{
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
}
header{
    grid-column: 1/-1;
}
footer{
    grid-column: 1/-1;
}

main{
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));   
}

@media (max-width: 1170px) {
    .Sidebar{
        order: 1;
        grid-column: 1/-1;
    }
   main{
       grid-column: 1/-1;
   }
   .last-item{
    grid-column: 1/-1;
}
   .container{
       width: 100vw;
   }  
   /* .item{
       grid-column: span 2;
   } */
}
