@import 'config';
@import 'utilities';
@import 'buttons';

// file name starting with _ are complied and included here

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $light-color;
    font-family: $font-stack;
    line-height: 1.6;
}

img{
    width: 100%;
}

.showcase{
    background-color: $primary-color;
    color: #ffff;
    height: 600px;

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul{
            display: flex;
            list-style-type: none;
        }
        li{
            padding: 15px;
        }
        a:hover{
            color: $secondary-color;
        }
    }
    a{
        color: #ffff;
    }

    &-content{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 50%;
        }
        h1{
            font-size:50px;
            line-height: 1.2;
        }
        p{
            margin: 20px 0;
        }
    }
}

